* {
    font-family: Arrival Apercu Mono Pro Light, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      box-sizing: border-box;
      margin: 0;
}
h1 {
    color:#ffffff;
    text-transform: uppercase;
    top: 50%;
}
h2 {
    color: #000000;
    text-transform: uppercase;
}
p {
    color: #000000;
    text-transform: uppercase;
}
#image1 {
    margin-left: 100px;
}
#header {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    background-color: blue;
    height: 70px;
    align-items: center;
    padding: 1em;
}
#content {
    position: relative;
    margin-top: 150px;
}